body {
    background-image: url("http://img14.deviantart.net/4617/i/2012/205/3/a/thousand_sunny_by_ratarsed-d58ene6.png");
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
                    max-width: 800px;
                    margin: 0 auto;
                    color: rgb(100, 7, 246);
                    font-family: sans-serif;
                    padding-left: 50px;
                    padding-right: 50px;
}

